body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    width: fit-content;
}

.menu-btns {
    position: fixed;
    bottom:12px;
    right: 12px;
}

.output-images{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 10%;
}