body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    width: fit-content;
    overflow: hidden;
    user-select: none;
}
#bg{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    /* filter: blur(44px); */
    position: fixed;
    z-index: -99;
    top:0;
    left: 0;
    display: none;
}
.menu-btns {
    position: fixed;
    bottom:12px;
    right: 12px;
}

.cursor{
    cursor: move;
}

.output-images{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 10%;
}

.super-btn{
    z-index: 999999999;
}
.loading{
    position: absolute;
    top: 45vh;
    left: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffffcc;
    /* border-radius: 100%; */
    padding: 44px;
}
.cursor{
    display: flex;
    width: 100%;
    line-height: 48px;
}
.toolbar-wrapper{
    user-select: none;
}

.ant-card {
    box-shadow: 3px 4px 13px 0 rgb(98 98 98 / 19%), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 2px 4px 18px 0 rgb(60 60 60 / 28%) !important;
}

.ant-card-body::-webkit-scrollbar {
    width: 12px;
}

.ant-card-body::-webkit-scrollbar-track {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ant-card-body::-webkit-scrollbar-thumb {
    /*border-radius:15px;
      -webkit-box-shadow:inset 0 0 5px rgba(0, 0,0, 0.2);
      background:rgba(0, 0,0, 0.2);*/
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.scrollbar::-webkit-scrollbar-thumb {
    /*border-radius:15px;
      -webkit-box-shadow:inset 0 0 5px rgba(0, 0,0, 0.2);
      background:rgba(0, 0,0, 0.2);*/
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}